<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>View Post</title>
    <!--<link rel="stylesheet" href="../css/style.css">-->
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
  </head>
  <body>

    <h1>View Post</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="./login">Login</a></li>
        <li><a href="./registration">Registration</a></li>
        <li><a href="./postvideo">Post Video</a></li>
        <li><a href="./viewpost">View Post</a></li>
        <li><a href="./profile">Profile</a></li>
      </ul>
    </nav>

    <main>
      <h1> Post Title</h1>
      <p>by <span>Post Author</span></p>
      <!--unknown error-->
      <p>Posted on <span><br />Post Creation Time</span></p>
      <video src="path_to_video_file.mp4" controls></video>
      <div>
        <h2>Comments</h2>
        <form>
          <label for="comment">Please leave a comment:</label><br />
          <textarea id="comment" name="comment"></textarea><br />
          <input type="submit" value="Submit" />

        </form>
      </div>
    </main>
    <footer>
      <p>&copy; Sanna Mohabbat</p>
    </footer>
  </body>
</html>